doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  head
    script(src='/socket.io/socket.io.js', type='text/javascript')
    script(src='/sockets.js', type='text/javascript')
  body
    .container
      .main-content
        .main-head
          block main
        block content